.search-results-container{
    width:900px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: black;
}
.search-results-layout{
    width:100%;
    display: flex;
    justify-content: center;
}
.movie-poster{
    text-align: center;
    margin:10px;
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 1px gold solid;
    overflow: hidden;

}
.movie-poster > img{
    object-fit: cover;

}
.play-movie-trailer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color:gold;
    cursor: pointer;
    transition: 0.3s;
}
.play-movie-trailer:hover{
    font-size: 4rem;
    color:white;
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    .search-results-container{

        grid-template-columns: 1fr 1fr 1fr;

    }

    
  }
  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .search-results-container{

        grid-template-columns: 1fr 1fr;

    }

    
  }
  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .search-results-container{

        grid-template-columns: 1fr;

    }

    
  }