    .movie-carousel-container{
        width:100vw;
        background-color: black;
    }
  .movie-buttons-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width:300px;
  }
  .movie-card-container{
    height: 550px;
    background-color: black;

  }
  .movie-card{
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0, 0,0), rgba(0, 0, 0, 1)), var(--img);
    position: relative;
    margin-bottom: 10px;
  }
  .movie-detail{
    position: absolute;
    top:200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

  }
  .movie-title{
    color:white;
    display: flex;
    align-items: center;

  }
  .play-button-icon-container{
    padding:0px;
    margin:0px;
    width: 150px;

  }
  .play-button-icon{
    padding:0px;
    margin:0px;
    color:gold;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
  }

  .play-button-icon:hover{
    font-size: 4rem;
    color:white;
  }

  .movie-watch-list-add-button-container{
    padding:0px;
    margin:0px;

  }
  .movie-watch-list-add-button{
    font-size: 1rem;
    padding:0px;
    margin:0px;
  }

  .movie-review-button-container{
    padding:0px;
    margin:0px;
  }

  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .movie-detail{
      flex-direction: column;
      align-items: center;
      top:20px;
    }

  }