    .movie-carousel-container{
        width:100vw;
        background-color: black;
    }
  
  .movie-card-container{
    height: 550px;
    background-color: black;
  }
  .movie-card{
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0, 0,0), rgba(0, 0, 0, 1)), var(--img);
    position: relative;
    margin-bottom: 10px;
  }
  .movie-detail{
    position: absolute;
    top:200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .movie-title{
    padding-top: 150px;
    color:white;
  }
  .play-trailer{
    color:gold;
    padding-top: 150px;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
  }
  .play-trailer:hover{
    font-size: 4rem;
    color:white;
  }
  
  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .movie-detail{
      flex-direction: column;
      align-items: center;
      top:100px;
    }
    .play-trailer, .movie-title{
      padding-top: 0;
    
    }


  }